html,body {
   width: 1000px;
   height: auto; 
   font-family:"Comic Sans MS";
   background-color:#344D67;

}
.sectionStyle{
   position: absolute;
   text-align: center;
   justify-content: center;
   justify-items: center;
   height: 400px;
   width: 400px; 
}
.divQuem{
   width:700px;
   margin-left: auto;
   margin-right: auto;
   font-weight:100 ;
   padding: 10px;
   height: 300px;
   text-align: justify;
   border-radius: 10px 10px 10px 10px;
   color: whitesmoke;
   background-color: rgba(0, 0, 0, 0.37);
}
.paragrafoQuem{
   font-family:"Comic Sans MS";
   width: auto;
   height: auto;
   float: center;

}

.fabia{
   
   justify-items: center;
   position: relative;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: auto;
   width: 300px;
   height: auto;
   display: flex;
   border-radius: 100px 100px 100px 100px;
   align-items: center;
   justify-content: center;
   margin-left: auto;
   margin-right: auto; 
   margin-top: auto;
   margin-bottom: 10px;

}
.banner{
   width:700px;
   position: absolute;
   margin-top: 50px;
   margin-left: 100px;
   margin-right: 10px;
   margin-bottom: 1px;
   font-weight:100 ;
   padding: 20px;
   height: 150px;
   text-align: justify;
   border-radius: 10px 10px 10px 10px;
   color: whitesmoke;
   background-color: rgba(0, 0, 0, 0.37);   
}
.paragrafoBanner{
   font-family:"Comic Sans MS";
   width: auto;
   height: auto;
  
   color: beige;

}
 .paragrafoNegrito{
    font-weight: bold ;
    text-align: left;
    padding-left: auto;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; 
    margin-top: auto;
    margin-bottom: auto;
 }
 .ilhabelalogo{
    width: 200px;;
    height: auto;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px;
    border-top: 2px;
    border-left: 2px;
    border-right: 2px;
 }
 .textologo{ 
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
   padding-left: 20px;   
   font-size: medium;
 }
 .quadro{
   display: flex;
   width: 600px;
   height: 900px;
   position: relative;
   align-items: center;
   justify-content: center;
   margin-left: auto;
   margin-right: auto; 
   margin-top: 1px;
   margin-bottom: auto;
 }
 .divContexto{
   width:600px; 
   height: auto;
   margin-left: auto;
   margin-top: auto;
   padding-top: 50px;
   padding-right: 30px;
   padding-bottom: 50px;
   padding-left: 80px;

 }
 .pContexto{
   margin-left: auto;
   margin-right: auto;
   font-size: large;
   font-family: cambria;
   padding: 10px;
   position:relative;
   background-color: rgba(0, 0, 0, 0.667);
   color: white;
   align-items: center;
   justify-content: center;
   margin-left: auto;
   margin-right: auto; 
   margin-top: auto;
   margin-bottom: auto;
 }
 .dimensionamento{
    width: 600px;
    height: 300px;
    position: relative;
    margin: 20px;
 }
 .div1{   
   width: 300px;
   height: 250px;
   margin-left: 15px;
   margin-right: 15px; 
   margin-top: 15px;
   margin-bottom: 15px;
   border-radius: 10px;
   border-bottom: 10px;
   border-radius: 10px 10px 10px 10px;
   display: flex;
   text-align: center;
   background-color:rgba(144, 144, 223, 0.336);
 }
 .divcarrosel{
   display: flex;
   width: 600px;
   height: auto;
   align-items: center;
   justify-content: center;
   margin-left: auto;
   margin-right: auto; 
   margin-top: auto;
   margin-bottom: auto;
   display: flex;
   text-align: center;
   background-color: transparent;
 }
 .formatacaoDT{
   font-family:"Comic Sans MS";
   font-size: large;
 }

.imagem{
   height: 150px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px 10px 10px 10px;
   margin-left: auto;
   margin-right: auto; 
   margin-top: auto;
   margin-bottom: auto;
}

.imagemBonete{
   height: 250px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: auto;
   margin-right: auto; 
   margin-top: auto;
   margin-bottom: auto;
}
.button{  
   background-color: black; 
   border-radius: 6px;
   padding: 15px; 
   cursor: pointer; 
   color: #fff;
   border: none;
   font-size: 16px;
  }

 .rodaPe{
   height: 75px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: auto;
   margin-right: auto; 
   margin-top: auto;
   margin-bottom: auto;
   
 }
 .movimentoFadeIn{
   width: auto;
   height: auto;
   margin-right: 50px;
   background-image:url(imagens/castelhanos.jpg);
   animation: mymove 7s infinite;
 }
 
 @keyframes mymove {
   from {background-image:url(imagens/curral.jpg);
         background-repeat: no-repeat;}
   to {background-image:url(imagens/bonete.jpeg);
       background-repeat: no-repeat;}
 }
 
 * {
   margin: 0 auto;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
}

#menu-h{
   background-color:black;
   border-radius: 10px 10px 10px 10px;

}

#menu-h ul {
   max-width: 800px;
   list-style: none;
   padding: 0;
}

#menu-h ul li {
   display: inline;
}

#menu-h ul li a {
   color: #FFF;
   padding: 20px;
   display: inline-block;
   text-decoration: none;
   transition: background .4s;
}

#menu-h ul li a:hover {
   background-color: #B0E0E6;
}

#menu-h ul li:last-child a {
   float: right;
   background-color: gray;
}
/*Formulário */
#area
{
   width: 600px;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-left: auto;
   margin-right: auto; 
   margin-top: auto;
   margin-bottom: auto;
   padding: 100px;
}
#area #formulario
{
  position:relative;
  display:block;
}
fieldset
{
  width: 300px;;
  height:auto;
}
#formulario input.btn_submit
{
   align-items: left;
   justify-content: left;
   margin-left: left;
   margin-right: left; 
   margin-top: left;
   margin-bottom: left;
}


/* Carrosel */
.slider {
   display: block;
   height: auto;
   width: 500px;
   margin: auto;
   margin-top: 10px;
   position: relative;
}

.slider li {
   list-style: none;
   position: absolute;
}

.slider img {
   margin: auto;
   height: 80%;
   width: 80%;
   padding: auto;
   vertical-align: top;
   border-radius: 10px 10px 10px 10px;

}
.slider input {
   display: none;
}
.slider label {
   font-family: Verdana;
   font-variant-caps: all-petite-caps;
   bottom: 100px;
   cursor: pointer;
   padding: 20px;
   display: block;
   height: 10px;
   position: absolute;
   border-color: black;
   border-style: groove;
   border-image-width: 10px;
   border-radius: 10px 10px 10px 10px;
   width: 100px;
   z-index: 01;
}

.slider li:nth-child(1) label {
   left: 10px;

}

.slider li:nth-child(2) label {
   left: 10px;
}

.slider li:nth-child(3) label {
   left: 10px;
}
.slider img {
   opacity: 0.5;
   visibility: hidden;
}

.slider li input:checked ~ img {
   opacity: 1;
   visibility: visible;
   z-index: 10;
}
.carroselBonete{
   width: 900px;
   height: auto;
   margin-right: 50px;
   background-image:url(imagens/bonetesol.png);
   animation: mymove 10s infinite;
 }
 
 @keyframes mymove {
   from {background-image:url(imagens/trilhaBonete.jpg);
         background-repeat: no-repeat;}
   to {background-image:url(imagens/percursoBonete.png);
       background-repeat: no-repeat;}
 }
 .carroselPaqueta{
   width: 900px;
   height: auto;
   margin-right: 50px;
   background-image:url(imagens/background.jpg);
   animation: mymove 10s infinite;
 }
 
 @keyframes mymove {
   from {background-image:url(imagens/trilhaBonete.jpg);
         background-repeat: no-repeat;}
   to {background-image:url(imagens/curral.jpg);
       background-repeat: no-repeat;}
 }

 .movimentoPaqueta{
   width: auto;
   height: auto;
   margin-right: 50px;

   background-image:url(imagens/paqueta.jpg);
   animation: mymove 10s infinite;
 }
 
 @keyframes mymove {
   from {background-image:url(imagens/paqueta1.jpg);
         background-repeat: no-repeat;}
   to {background-image:url(imagens/paqueta2.jpg);
       background-repeat: no-repeat;}
 }

                    